body {
  font-family:Gentium Book Basic, serif;
  color:#38231C;
  background-color:#C29F77;
  font-size:125%;
}

a {
  color:#38231C;
}

a:hover {
  color:#9E1818 !important;
}

a:active {
  opacity:.5;
}

i {
  font-style:italic;
}

b {
  font-weight:bold;
}

.disabled {
  text-decoration:none;
  cursor:default;
  opacity:.33;
}

input {
  font-family:Gentium Book Basic;
}

input[type="text"], input[type="password"] {
  color:#38231C;
  background-color:#C29F77;
  border:.2em solid #38231C;
  box-sizing:border-box;
  height:1.7em;
}

input[type="text"]:focus, input[type="password"]:focus {
  outline:0;
  border:.2em solid #38231C;
}

input[type="submit"] {
  color:#C29F77;
  background-color:#9E1818;
  border-color:#9E1818;
  border:0;
  cursor:pointer;
}

input[type="submit"]:active {
  opacity:.5;
}

input::-webkit-input-placeholder {
    color:#947558;
}

input:-moz-placeholder {
    color:#947558;
}