#centerbox {
  position:absolute;
  width:25em;
  left:50%;
  margin-left:-12.5em;
  margin-top:2.5em;
}

h1 {
  font-size:1.8em;
  margin-bottom:.5em;
}

li {
  font-size:1.1em;
  margin-bottom:.5em;
}

li a {
  color:#9E1818;
}

input {
  display:block;
  height:1.1em;
  font-size:1.1em;
  float:left;
}

input[type="text"] {
  padding:.1em;
  padding-top:.3em;
  width:10em;
}

input[type="submit"] {
  height:1.65em;
  width:5em;
  margin-left:.25em;
}

#newwiki {
  margin-top:1em;
}