<!doctype html>

<html>

<head>
  <meta charset="utf-8">
  <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}" />
  <link href='http://fonts.googleapis.com/css?family=Gentium+Book+Basic:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
  {% block head %}
  {% endblock %}
  <script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-35561502-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
  </script>
</head>

<body>
  <script src="{{ url_for('static', filename='js/lib/detect-zoom.js') }}"></script>
  <script type="text/javascript">
    function resize() {
      var zoom = DetectZoom.ratios().zoom;
      document.body.style.fontSize = document.documentElement.offsetWidth/9*zoom+"%";
    }
    resize();
    window.onresize = resize;
  </script>
  {% block body %}
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <script>window.jQuery || document.write("{{ url_for('static', filename='js/lib/jquery-1.7.2.js') }}")</script>
  {% endblock %}
</body>

</html>